<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Obchoduj na Křižíkovi</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Školský Bazar - Platforma pro prodej a nákup školských potřeb na Křižíku" />
		<meta
			name="keywords"
			content="bazar, škola, školské potřeby, učebnice, prodej" />
		<meta name="author" content="Obchoduj Na Křižíkovi" />
		<meta name="robots" content="index, follow" />
		<meta property="og:title" content="Školský Bazar" />
		<meta
			property="og:description"
			content="Platforma pre predaj a nákup školských potrieb" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="/favicon.ico" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<%- include('css') %>
	</head>

	<body>
		<div class="header">
			<h1 style="display: flex; align-items: center">
				<a
					href="/"
					style="
						color: white;
						text-decoration: none;
						display: flex;
						align-items: center;
					">
					<img
						src="/logo.png"
						style="height: 2.3rem; margin-right: 0.5rem" />Obchoduj na Křižíkovi
				</a>
			</h1>
			<ul>
				<% if (user) { %>
				<li class="nav-bar-item" onclick="window.location.href='/odhlasit-se'">
					Odhlásit se
				</li>
				<li class="nav-bar-item" onclick="window.location.href='/pridat'">
					Přidat položku
				</li>
				<li class="nav-bar-separator">|</li>
				<% } %>
				<li class="nav-bar-item" onclick="window.location.href='/o-nas'">
					O nás
				</li>
				<li class="nav-bar-item" onclick="window.location.href='/kontakt'">
					Kontakt
				</li>
				<li class="nav-bar-item" onclick="window.location.href='/admin'">
					<% if(!user) { %>
				</li>
				<li class="nav-bar-item" onclick="window.location.href='/admin'">
					Přihlásit se
				</li>
				<%} else { %>
				<li><%= user %></li>
				<%} %>
			</ul>
		</div>
	</body>
</html>
